{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
about page
{% endblock title %}

{% block content %}
<div class="col-md-10 mx-auto">
    <h1 class=" my-5 text-white text-capitalize"> it is jaswant bisht</h1>


    <div class="myjumbotron">
        <h3 class=" display-2 text-capitalize text-white">hello worlpd</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, voluptate itaque sequi iste consequatur corrupti quidem inventore tempora sapiente provident. Est, voluptas quibusdam, aut voluptatibus et, ipsa explicabo vero ea alias reprehenderit qui!</p>
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit error dolor soluta aut, molestiae repudiandae eos ducimus unde, quasi architecto, totam tempora? Nulla quas non corporis quo commodi numquam similique!</p>
    </div>
</div>
{% endblock content %}