{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
home
{% endblock title %}

{% block content %}
<div class="col-md-10 mx-auto">
    <h1 class=" my-5 text-white text-capitalize"> home page</h1>


    <div class="myjumbotron">
        <h3 class=" display-2 text-capitalize text-white">hello worlpd</h3>
        <p class="lead"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque fugit rerum maiores molestiae aliquid nihil error est facilis, enim dignissimos aspernatur, placeat suscipit. Laboriosam ratione velit esse, id inventore aut quisquam corporis fugit!
        </p>
    </div>
</div>
{% endblock content %}