{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
home
{% endblock title %}

{% block content %}
<div class="col-md-10 mx-auto">
    <h1 class=" my-5 text-white text-capitalize"> home page</h1>

      
{% for post  in posts %}
 <div class="myjumbotron my-4">
        <h3 class=" display-2 text-capitalize text-white">{{post.title}}</h3>
        <p class="lead">  {{post.description}} </p>
    </div>
{% empty %}
<p class="text-center text-white text-uppercase">posts  not found</p>

{% endfor %}

   
</div>
{% endblock content %}